<div
  class="post"
  *ngIf="announcement"
  (click)="markedAsRead()"
  [ngClass]="{
    'read-post': announcement.read,
    'important-post': announcement.important
  }"
>
  <div>
    <h2>{{ announcement.title }}</h2>
    <p>{{ announcement.text }}</p>
  </div>

  <div>
    <label>Publisher</label>
    <div>
      <label>FirstName</label>
      <p>{{ announcement.publisher?.firstName }}</p>
    </div>

    <div>
      <label>LastName</label>
      <p>{{ announcement.publisher?.lastName }}</p>
    </div>
  </div>
</div>
<br />
